/************************* 
        UNIVERSAL
*************************/
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/************************* 
          HEADER
*************************/
header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 14.5% 0;
}

.header-logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}

.navbar ul {
  display: flex;
  gap: 25px;
}

.navbar li {
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

/************************* 
          SEC ONE
*************************/
.sec_one {
  background-color: #1f2937;
  color: #f9faf8;
  padding: 8% 14.5%;
  display: flex;
  justify-content: space-between;
}

.sec_one img {
  max-width: 100%;
  height: 250px;
}

.left-sec {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-sec h1 {
  font-size: 48px;
  font-weight: bolder;
}

.left-sec p {
  font-size: 18px;
  margin-bottom: 10px;
}

.left-sec button {
  background-color: #3a82f6;
  color: #f9faf8;
  font-size: 18px;
  box-sizing: border-box;
  padding: 8px 32px;
  border-radius: 8px;
  border: none;
  width: 130px;
}

/************************* 
          SEC TWO
*************************/
.sec_two {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3% 14.5% 8%;
  gap: 50px;
}

.sec_two h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.info {
  display: flex;
  gap: 50px;
}

.sub-info {
  width: 170px;
}

.sub-info img {
  max-width: 100%;
  height: 170px;
}

.sub-info p {
  font-size: 18px;
  color: #4b5564;
  text-align: center;
  margin-top: 5px;
}

/************************* 
        SEC THREE
*************************/
.sec_three {
  background-color: #e5e7eb;
  padding: 10% 23%;
}

.sec_three figure {
  color: #1f2937;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sec_three p {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
}

.sec_three figcaption {
  font-size: 25px;
  font-weight: bold;
  align-self: flex-end;
}

/************************* 
        SEC FOUR
*************************/
.sec_four {
  padding: 7% 14.5%;
}

.container,
.button {
  background-color: #3a82f6;
  color: white;
}

.container {
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 48px;
}

.text h3 {
  font-size: 23px;
  padding-bottom: 5px;
}

.text p {
  color: #e5e7eb;
  font-size: 18px;
}

.button {
  background-color: #3a82f6;
  color: #f9faf8;
  font-size: 18px;
  box-sizing: border-box;
  padding: 8px 32px;
  border-radius: 8px;
  border: 2px solid white;
}

/************************* 
          FOOTER
*************************/
