* {
  margin: 0;
  padding: 0;
}

header {
  background-color: aqua;
  display: flex;
  justify-content: space-between;
}

.header-logo {
}

.navbar ul {
  display: flex;
  gap: 20px;
}

.navbar li {
  list-style: none;
}

.navbar a {
  text-decoration: none;
}
